

  <footer class=mt-auto style="background-color: #d95c1e">

    <div class="container">
      
     
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(169, 17, 17, 0.959);">
      ©Yelp-Camp
      <a class="text-white" href="https://mdbootstrap.com/">MADOC Global</a>
    </div>
    <!-- Copyright -->
  </footer>
  
